:root {
/* - Very dark blue */
--main-background: hsl(233, 47%, 7%);
/* - Dark desaturated blue  */
--card-background: hsl(244, 38%, 16%);
/* - Soft violet  */
--accent: hsl(277, 64%, 61%);

/* - White  */
--main-heading-stats: hsl(0, 0%, 100%);
/* - Slightly transparent white  */
--main-paragraph: hsla(0, 0%, 100%, 0.75);
/* - Slightly transparent white  */
--stat-headings: hsla(0, 0%, 100%, 0.6);
--width: 500px;
--height: calc(var(--width) / 1.21);
}
@font-face {
    font-family: redHatDisplay;
    src: url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
}


html, body{
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card{
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    max-width: 75%;
    border-radius: 10px;
}
div.image {
    width: var(--width);
    height: var(--height);
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(277, 90%, 30%);
}
.image img {
    width: inherit;
    height: inherit;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.4;
}
.left {
    margin: 4.1% 5% 5% 5%; 
    color:white;
}

#text-head {
    font-size: 2.15rem;
    font-weight: bold;
    font-family: 'Red Hat Display';
    margin-top: 4%;
}
.left p {
    margin-top: 7%;
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 150%;
}
.snippets {
    margin-top: 15%;
    display: flex;
}

.snippet2, .snippet3 {
    margin-left: 17%;
}
#header {
    font-family: 'Red Hat Display';
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}

.snippet1, .snippet2, .snippet3 {
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.8rem;
}